.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/gradle.xml

.idea/compiler.xml

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

FS-vijesti.iml

.idea/gradle.xml

.idea/compiler.xml

.idea/compiler.xml

.idea/encodings.xml

.idea/gradle.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

app/app.iml

.idea/vcs.xml

TheArtball.iml

.idea/inspectionProfiles/profiles_settings.xml
